Search:
<input type="text" ng-model="query" /> Sort By:
<select ng-model="orderProp">
	<option value="name">Alphabetical</option>
	<option value="age">Newest</option>
</select>
<p>query: {{query}}</p>
<p>Total number of phones: {{phones.length}}</p>
<p>Total number of phones displayed: {{(phones | filter: query | orderBy: orderProp).length}}</p>
<ul class="phones">
	<li ng-repeat="phone in phones | filter: query | orderBy: orderProp" class="thumbnail">
		<a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}" /></a>
		<a href="#/phones/{{phone.id}}">{{phones.indexOf(phone) + 1}}) {{phone.name}}</a>
		<p>{{phone.snippet}}</p>
	</li>
</ul>
